<form autocomplete="off">
  <div class="form-content">
    <div class="input-block">
      <div class="icon-block">
        <i class="fa fa-user"></i>
      </div>
      <input type="text" name="username" placeholder="Username">
    </div>
    <div class="input-block">
      <div class="icon-block">
        <i class="fa fa-key"></i>
      </div>
      <input type="text" name="password" placeholder="Password">
    </div>
    <div>
      <button class="btn btn-caps btn-full-width">Sign in</button>
    </div>

  </div>
</form>